@value borderGrey from "../../style/colours.module.css";

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
    position: relative;
}

@media screen and (max-width: 600px) {
    .page {
        background: white;
    }
}

.userContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .dataInner h1 {
        margin-left: 1rem;
    }
}
