@value secondary from "../../style/colours.module.css";

.slide {
    font-size: 2rem;
    aspect-ratio: 16 / 9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 10px solid secondary;
    border-bottom: 10px solid secondary;
    background: white;
    padding: 1rem 2rem;
    box-sizing: border-box;
}
